@model string
<div class="form-group">
    @Html.Label("", new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.TextArea("", Model, new { @class = "form-control" })
    </div>
</div>